<div class="container contenedor-wrap">
  <div class="container contenidos-comprobante-venta">
      <div class="row">
          <div class="col">
              <!-- <h2> Nombre <span class="magenta"> {{ persona.nombre_completo }} </span></h2> -->
              <h2> Nombre <span class="magenta"> jaime </span></h2>
              <h4 class="magenta">Nº de Identificación:</h4>
              <!-- <p>{{ persona.numero_identificacion }}</p> -->
              <h4 class="magenta">Nº de Teléfono</h4>
              <!-- <p>{{ telefono.telefono }}</p> -->
              <h4 class="magenta"> N° de Teléfono Secundario</h4>
              <!-- <p>{{ telefono.telefono_secundario }}</p> -->
              <h4 class="magenta">Correo:</h4>
              <!-- <p>{{ correo.correo }}</p> -->
          </div>
          <div class="col">
              <!-- <h2> UV: <span class="magenta"> {{ persona.uv }} </span></h2> -->
              <h2> UV: <span class="magenta"> 420 </span></h2>
              <h4 class="magenta">Fecha de nacimiento:</h4>
              <!-- <p>{{ persona.fecha_nacimiento }}</p> -->
              <h4 class="magenta">Dirección:</h4>
              <p>doxeado
          </div>
          <div class="col">
              <h2>Antecedentes de Salud</h2>
              <h4 class="magenta">Prevision</h4>
              <!-- <p>{{ infosalud.prevision }}</p> -->
              <h4 class="magenta">Isapre</h4>
              <!-- <p>{{ infosalud.isapre }}</p> -->
              <h4 class="magenta">Observaciones</h4>
              <!-- <p>{{ infosalud.comentarios }}</p> -->

          </div>
      </div>
  </div>
</div>
<hr>

<div class="container contenedor-wrap">
  <h1>Venta</h1>

  <mat-card >
    <h2> Archivos </h2>
    <form>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" multiple>
    <span class="file-name">{{selectedFile?.name}}</span>
    <hr>
    <button>+</button>
  </form>

  </mat-card>
  <hr>
  <mat-card >
    <h2>Productos</h2>
    <div [formGroup]="formProductos">

      <ng-container formArrayName="productos">
        <ng-container *ngFor="let productoForm of productos.controls; let i = index" [formGroupName]="i">
          <div class="producto-form-row">
            <mat-form-field class="info">
              <mat-label>Nombre del producto </mat-label>
                <mat-select>
                  <mat-option *ngFor="let producto of filteredOptions" [value]="producto">
                    {{ producto }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field >
              <mat-label>Cantidad</mat-label>
              <input type="number" formControlName="cantidad" matInput placeholder="0">
              <span matTextSuffix>unidades</span>
            </mat-form-field>

            <button class="btn ver-o-editar eliminar" (click)="deleteProducto(i)"><mat-icon class="icon-display">delete_forever</mat-icon></button>

          </div>

        </ng-container>
      </ng-container>


    </div>

    <div>
      <button mat-raised-button (click)="addProducto()">
        Agregar Producto
      </button>

      <button (click)="onSubmit()" mat-raised-button style="float:right">Siguiente </button>
    </div>
  </mat-card>





</div>

<script>
document.getElementById("add_file").onclick=function (ev) {
            var image = document.getElementById("files");

            var newInput = document.createElement("input");
            newInput.type="file";
            newInput.name = "file[]";
            newInput.style = "width: 100%";

            var br=document.createElement("br");
            var br1=document.createElement("br");

            image.appendChild(newInput);
            image.appendChild(br);
            image.appendChild(br1);

        }
</script>
