<div class="pink-banner container">
  <h1>Bodega virtual</h1>
  <span class="spacer"></span>
</div>
<div class="container">
  <div>
    <!-- <mat-form-field>
      <mat-label>Filtrar por Nombre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Escriba el nombre a buscar">
    </mat-form-field> -->
  </div>
</div>
<div class="container contenedor-wrap">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Marca del producto </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.brand.marca_producto}} | {{ element.brand.dosis}} x {{ element.brand.presentacion }} | {{ element.brand.p_a }} | Proveedor: {{element.brand.proveedor}} | Lab: {{ element.brand.laboratorio }} </td> -->
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock actual </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="minimunStock">
      <th mat-header-cell *matHeaderCellDef> Stock minimo </th>
      <td mat-cell *matCellDef="let element"> {{element.stock_min}} </td>
    </ng-container>

    <ng-container matColumnDef="slack">
      <th mat-header-cell *matHeaderCellDef> Holgura </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'low-stock': element.holgura <= 0}">{{element.holgura}}
        <mat-icon class="warning-icon" *ngIf="element.holgura <= 0">warning</mat-icon>
      </td>
    </ng-container>


    <ng-container matColumnDef='button'>
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <button (click)="editarBodega(element.id)"
          class="f-acenter-jarround square-pink-button"><span>editar</span><mat-icon>edit</mat-icon>

        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-button (click)="LastFirstPage('first')">First</button>
  <button mat-button *ngIf="page !== 1"  (click)="prevPage()">Anterior</button>
  <button mat-button *ngIf="page !== totalPages" (click)="nextPage()">Siguiente</button>
  <button mat-button (click)="LastFirstPage('last')">Last</button>

  <mat-form-field>
    <mat-label>Elementos por página</mat-label>
    <mat-select (selectionChange)="setPageSize($event.value)" [value]="pageSize.toString()">
      <mat-option value="5">5</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="20">20</mat-option>
      <mat-option value="30">30</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Filtro</mat-label>
    <input matInput [(ngModel)]="buscadorValue">
    <button *ngIf="buscadorValue" matSuffix mat-icon-button aria-label="Clear" (click)="buscadorValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button (click)="filtro(buscadorValue)">Buscar</button>

</div>
