.spacer {
  flex: 1 1 auto;
}

.header {
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mdc-list-item {
  background-color: #F9405C;
}

.mat-mdc-menu-content {
  margin: 0;
  padding: 0px 0;
  list-style-type: none;
  background-color: #F9405C;
}

.usuario {
  background: url(../../../assets/icon-avatar.png) left no-repeat;
  background-position: center;
}

.log-out {
  background: url(../../../assets/logout.png) left no-repeat;
  background-position: center;
}

.inicio {
  background: url(../../../assets/inicio.png) left no-repeat;
  background-position: center;
}

.mat-mdc-button:not(:disabled) {
  color: rgb(249, 34, 72) !important;
  background: transparent;
  font-size: 1.05em !important;
}

.mat-mdc-button:not(:disabled):hover,
.mat-mdc-button-persistent-ripple.mdc-button__ripple:focus-visible,
.mat-mdc-button>.mat-icon:focus-visible {
  border: none !important;
  outline: none !important;
}

.nombre_usuario {
  font-size: 18px;
}

.logo-menusection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 31px;
  padding-right: 31px;
}

.mat-mdc-button>.mat-icon {
  font-size: 2.0em !important;
  height: 100% !important;
  width: 100% !important;
}

.img-link {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.img-link:hover {
  opacity: 0.8;
}

.icon-display {
  cursor: pointer;
}

.hide-header {
  display: none;
}
