<mat-toolbar class="header">
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon usuario" (click)="logInClick()"></button>
  <div class="nombre_usuario">{{ usuarioActual }} </div>
  <button mat-icon-button class="example-icon favorite-icon log-out" (click)="onButtonClick()"></button>
  <button routerLink="" mat-icon-button class="inicio"></button>
</mat-toolbar>
<div class="logo-menusection container" [class.hide-header]="isVisRouteActive()">
  <div class="img-link">
    <img src="../../../assets/form-independencia.png" routerLink="">
  </div>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" class="menu-button"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button routerLink="quienes" mat-menu-item>Quienes Somos</button>
    <button routerLink="qna" mat-menu-item>Preguntas y Respuestas</button>
    <button mat-menu-item>Calculadora UV</button>
    <button routerLink="vis" mat-menu-item>Visualización</button>
    <button routerLink="conoce-tu-area" mat-menu-item>Conoce tu area</button>
    <button routerLink="ficha-barrial" mat-menu-item>Ficha Barrial</button>
  </mat-menu>

</div>
