
<mat-grid-list cols="10" rowHeight="650px">
  <mat-grid-tile [colspan]="4">
    <div id="map"></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6">
    <table mat-table [dataSource]="dataSource" class="mi-tabla">
      <!-- Columna de nombre -->
      <ng-container matColumnDef="nombre" sticky>
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
      </ng-container>

    <ng-container matColumnDef="rank" sticky>
      <th mat-header-cell *matHeaderCellDef  matTooltip="Ranking de uv's considerando todas las entradas durante el periodo de tiempo especificado" >Rank <br>({{ anioFin }}) </th>
      <td mat-cell *matCellDef="let element">
        {{ element.rank }}
        <mat-icon class="arrow-icon"
                  [ngClass]="{ 'up-arrow': element.rank < element.rank_ly, 'down-arrow': element.rank > element.rank_ly, 'static-arrow': element.rank === element.rank_ly }">
          {{ element.rank < element.rank_ly ? 'keyboard_arrow_up' : (element.rank > element.rank_ly ? 'keyboard_arrow_down' : 'keyboard_arrow_right') }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank_ly">
      <th mat-header-cell *matHeaderCellDef>
        <span>Rank <br>({{ anioFin_ly }})</span>
      </th>
      <td mat-cell *matCellDef="let element">{{element.rank_ly}} </td>
    </ng-container>


    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombre">
      <th mat-header-cell *matHeaderCellDef>
        <span (click)="updateColumna(columna.nombre)"
              [class.resaltado]="columnaResaltada === columna.nombre"
              [class.subrayado]="columnaResaltada === columna.nombre">
          {{ columna.nombre }}
        </span>
      </th>
      <td mat-cell *matCellDef="let element" [class.resaltado]="columnaResaltada === columna.nombre">{{element[columna.element]}}</td>
    </ng-container>


      <!-- Define las columnas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-grid-tile>

</mat-grid-list>

<div class="slider-container" *ngIf="tipo_mapa === 'ninguna'">
  <ngx-slider [(value)]="dummy_value" [(highValue)]="dummy_highvalue" [options]="dummy_options"></ngx-slider>

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerFin" [(ngModel)]="fechaFin">
    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="fechaChange()">Buscar</button>

  <mat-form-field style="text-align: right !important">
    <mat-label>Selecciona una opción</mat-label>
    <mat-select (selectionChange)="tipoMapaChange($event.value)">
      <mat-option value="farmacia">FARMACIA MUNICIPAL</mat-option>
      <mat-option value="dimap">HIGIENE AMBIENTAL - DIMAP</mat-option>
      <mat-option value="seguridad">SEGURIDAD MUNICIPAL</mat-option>
      <mat-option value="impuestosyderechos">IMPUESTOS Y DERECHOS</mat-option>
      <mat-option value="ayudasocial">AYUDA SOCIAL - PANDEMIA</mat-option>
      <mat-option value="excencionbasura">EXCENCIÓN BASURA</mat-option>
      <mat-option value="obrasmunicipales">OBRAS MUNICIPALES</mat-option>
      <mat-option value="transito">TRANSITO</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="slider-container" *ngIf="tipo_mapa !== 'ninguna'">
  <ngx-slider [(value)]="slider_value" [(highValue)]="slider_highvalue" [options]="slider_options" (userChangeEnd)="sliderChange($event)"></ngx-slider>

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerFin" [(ngModel)]="fechaFin">
    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="fechaChange()">Buscar</button>

  <mat-form-field style="text-align: right !important">
    <mat-label>Selecciona una opción</mat-label>
    <mat-select (selectionChange)="tipoMapaChange($event.value)">
      <mat-option value="farmacia">FARMACIA MUNICIPAL</mat-option>
      <mat-option value="dimap">HIGIENE AMBIENTAL - DIMAP</mat-option>
      <mat-option value="seguridad">SEGURIDAD MUNICIPAL</mat-option>
      <mat-option value="impuestosyderechos">IMPUESTOS Y DERECHOS</mat-option>
      <mat-option value="ayudasocial">AYUDA SOCIAL - PANDEMIA</mat-option>
      <mat-option value="excencionbasura">EXCENCIÓN BASURA</mat-option>
      <mat-option value="obrasmunicipales">OBRAS MUNICIPALES</mat-option>
      <mat-option value="transito">TRANSITO</mat-option>
    </mat-select>
  </mat-form-field>

</div>


