
<div class="d-flex alig-items-center alig-items-center justify-content-center">
  <div class="slider-container d-flex flex-row alig-items-center justify-content-center botonera-dashboard " [ngClass]="{'fixed': isBotoneraFixed}">
    <div style="clear: both; margin-top: 16px;">
      <button mat-button [matMenuTriggerFor]="menu" class="d-flex">{{visPoblacionlegend}} <mat-icon>expand_more</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onToggleChange('Ninguna')">Total</button>
        <button mat-menu-item (click)="onToggleChange('Total Poblacion')">Habitante</button>
        <button mat-menu-item (click)="onToggleChange('Superficie')">Superficie</button>
        <button mat-menu-item (click)="onToggleChange('Porcentaje')">Porcentaje</button>
      </mat-menu>
    </div>
    <div>
      <div class="d-flex flex-row">
        <div class="d-flex flex-row p-20  align-items-end">
          <div class="flex-column m-r-5 m-l-5">
            <p>Fecha de inicio:</p>
            <mat-form-field appearance="fill" class="my-datepicker">
              <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #pickerInicio color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex-column m-r-5 m-l-5">
            <p>Fecha de Fin</p>
            <mat-form-field appearance="fill" class="my-datepicker">
              <input matInput [matDatepicker]="pickerFin" [(ngModel)]="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="text-align: right !important">
              <mat-label>Selecciona una opción</mat-label>
              <mat-select (selectionChange)="tipoMapaChange($event.value)">
                <mat-option value="farmacia">FARMACIA MUNICIPAL</mat-option>
                <mat-option value="dimap">HIGIENE AMBIENTAL - DIMAP</mat-option>
                <mat-option value="seguridad">SEGURIDAD MUNICIPAL</mat-option>
                <mat-option value="impuestosyderechos">IMPUESTOS Y DERECHOS</mat-option>
                <mat-option value="ayudasocial">AYUDA SOCIAL - PANDEMIA</mat-option>
                <mat-option value="exencionbasura">EXENCIÓN BASURA</mat-option>
                <mat-option value="obrasmunicipales">OBRAS MUNICIPALES</mat-option>
                <mat-option value="transito">TRANSITO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="m-r-5 m-l-5">
      <button aria-colspan="pink-button" mat-raised-button (click)="fechaChange()" color="primary" style="margin-top: 16px; height: 50px;">OK</button>
    </div>
    <div class="m-r-5 m-l-5">
      <button mat-raised-button (click)="descargar()" style="margin-top: 16px; height: 50px;">DESCARGAR PLANILLA</button>
    </div>
  </div>
</div>

<mat-grid-list [ngClass]="{'padding-fixed': isBotoneraFixed}" cols="20" rowHeight="730px">
  <mat-grid-tile [colspan]="9">
    <div>
      <div>
        <div id="map-vis"></div>
      </div>
      <div>
        <div>
          <ngx-slider [(value)]="slider_value" [(highValue)]="slider_highvalue" [options]="slider_options" (userChangeEnd)="sliderChange($event)"></ngx-slider>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="10">
    <table mat-table [dataSource]="dataSource" class="mi-tabla">
      <!-- Columna de nombre -->
      <ng-container matColumnDef="nombre" sticky>
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
      </ng-container>


    <ng-container matColumnDef="rank" sticky>
      <th mat-header-cell *matHeaderCellDef  matTooltip="Ranking de uv's considerando todas las entradas durante el periodo de tiempo especificado" >Rank ({{ anioFin }}) </th>
      <td mat-cell *matCellDef="let element">
        {{ element.rank }}
        <mat-icon class="arrow-icon"
                  [ngClass]="{ 'up-arrow': element.rank < element.rank_ly, 'down-arrow': element.rank > element.rank_ly, 'static-arrow': element.rank === element.rank_ly }">
          {{ element.rank < element.rank_ly ? 'keyboard_arrow_up' : (element.rank > element.rank_ly ? 'keyboard_arrow_down' : 'keyboard_arrow_right') }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank_ly">
      <th mat-header-cell *matHeaderCellDef>
        <span>Rank ({{ anioFin_ly }})</span>
      </th>
      <td mat-cell *matCellDef="let element">{{element.rank_ly}} </td>
    </ng-container>


    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombre">
      <th mat-header-cell *matHeaderCellDef>
        <span (click)="updateColumna(columna.nombre)"
              [class.resaltado]="columnaResaltada === columna.nombre"
              [class.subrayado]="columnaResaltada === columna.nombre">
          <!-- {{ columna.nombre }} -->
          {{ columna.nombre_columna }}
        </span>
      </th>
      <td mat-cell *matCellDef="let element" [class.resaltado]="columnaResaltada === columna.nombre">
        {{element[columna.element]}}<span *ngIf="visPoblacionData === 'Porcentaje'">%</span>
      </td>
    </ng-container>


      <!-- Define las columnas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="tipo_mapa !== 'ninguna'">
  <div>
    <div>
      <div class="d-flex alig-items-center justify-content-center m-top-20 m-bottom-20">
        <div class="d-flex alig-items-center justify-content-center">
          <div *ngFor="let element of dataSource" class="rank" [style.opacity]="element.opacity">
            {{element.value}}
          </div>
        </div>
      </div>
    </div>
    <!-- <div>
      <h3 class="dashboard-titles">Titulo de ambos graficos </h3>
      <div class="d-flex flex-row">
        <div style="flex: 2">
          <app-bubble-chart></app-bubble-chart>
        </div>
        <div style="flex: 1">
          <h3>Edades uso farmacia </h3>
          <app-pie-chart-compare></app-pie-chart-compare>
        </div>
      </div>
    </div>

    <div>
      <h3 class="dashboard-titles">Edades uso farmacia </h3>
      <app-barchart></app-barchart> -->




    <div style="flex: 2">
      <app-bubble-chart [visdata]="dataSource"></app-bubble-chart>
    </div>
    <div style="flex: 1">
      <!-- <app-pie-chart-compare></app-pie-chart-compare> -->
    </div>
    <div class="d-flex flex-row">

      <div class="flex-container">
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let subgrupo of subgrupos" [expanded]="columnaResaltada === subgrupo.abierto">
              <mat-expansion-panel-header (click)="updateColumna(subgrupo.abierto)">
                <mat-panel-title>
                  {{subgrupo.titulo}}
                </mat-panel-title>
                <mat-panel-description>
                  Descripcion de {{subgrupo.titulo}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- <p>{{subgrupo.descripcion}}</p> -->
              <p>info</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div>
          <app-pie-chart [dataBd]="dataSource"></app-pie-chart>
        </div>
      </div>

    </div>

    <div>
      <app-barchart [dataBd]="dataSource"></app-barchart>
    </div>
    <div>
      <h3 class="dashboard-titles">Patentes comerciales segun area comercial </h3>
      <app-area-chart-stacked></app-area-chart-stacked>
    </div>

  </div>
</div>



