

<div class="container contenedor-wrap text-container">

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="my-datepicker">
    <input matInput [matDatepicker]="pickerFin" [(ngModel)]="fechaFin">
    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary">Buscar</button>

  <mat-form-field style="text-align: right !important">
    <mat-label>Selecciona una opción</mat-label>
    <mat-select >
      <mat-option value="farmacia">FARMACIA MUNICIPAL</mat-option>
      <mat-option value="dimap">HIGIENE AMBIENTAL - DIMAP</mat-option>
      <mat-option value="seguridad">SEGURIDAD MUNICIPAL</mat-option>
      <mat-option value="impuestosyderechos">IMPUESTOS Y DERECHOS</mat-option>
      <mat-option value="ayudasocial">AYUDA SOCIAL - PANDEMIA</mat-option>
      <mat-option value="excencionbasura">EXCENCIÓN BASURA</mat-option>
      <mat-option value="obrasmunicipales">OBRAS MUNICIPALES</mat-option>
      <mat-option value="transito">TRANSITO</mat-option>
    </mat-select>
  </mat-form-field>

<mat-grid-list cols="10" rowHeight="555px">
  <mat-grid-tile [colspan]="6">
    <div id="map"></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">


  </mat-grid-tile>

</mat-grid-list>

<div class="slider-container">
  <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
</div>
