@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

#map {
  height: 500px;
  width: 90%;
  /* border: 2px solid black; */
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.mat-mdc-table .mdc-data-table__header-row {
  height: 56px;
  background: #FC3D59;
}

table tr:nth-child(even) td {
  background-color: #ffffff !important;
  color: black !important;
}
table tr:nth-child(odd) td {
  background-color: #F0F0F0 !important;
  color: black !important;
}

.mi-tabla {

  height: 447px;
  overflow: auto;
  display: block;
}

.mi-tabla th,
.mi-tabla td {
  width: 1%;
  white-space: nowrap;
}

.leaflet-container {
  background-color: white;
}

mat-slider {
  width: 225px !important;
}


.resaltado {
  font-weight: bold;
}

.subrayado {
  text-decoration: underline;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  background-color: blue;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
}

.float-right {
  float: right;
}

.mdc-slider__value-indicator-text {
  width: 74px !important;
  /* font-size: 30px !important; */
}

.values-container {
  display: inline !important;
}

.slider-container {
  position: relative;
}

.top-slider {
  position: absolute;
  z-index: 1;
}

.bottom-slider {
  position: absolute;
  z-index: 0;
}

.slider-container {
  display: flex;
  align-items: center;
}

.ngx-slider{
  width: 550px !important;
}

.ngx-slider .ngx-slider-selection {
  z-index: 2;
  background: #FC3D59 !important;
  border-radius: 2px;
}
.ngx-slider .ngx-slider-pointer:after{
  background-color: #F0F0F0 !important;
}

.arrow-icon {
  font-size: 16px; /* Tamaño del icono personalizado */
  vertical-align: middle;
}

.up-arrow {
  color: green; /* Color de flecha hacia arriba */
}

.down-arrow {
  color: red; /* Color de flecha hacia abajo */
}
.mat-mdc-select-value {
  color: black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f5f5f5;
}

.mat-mdc-text-field-wrapper {
  background-color: #f5f5f5 !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #000000;
}

.mdc-menu-surface.mat-mdc-select-panel {
  width: 100%;
  max-height: 275px;
  position: static;
  outline: 0;
  margin: 0;
  padding: 0px 0 !important;
  list-style-type: none;
}

.mat-datepicker-content {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  background-color: white;
  color: rgb(248, 248, 248);
}
.mat-mdc-button:not(:disabled) {
  color: #000;
}
.mat-calendar-table-header, .mat-calendar-body-label {
  color: rgba(153, 153, 153, 0.7);
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  color: #000;
}
.mat-calendar-body-cell-content, .mat-date-range-input-separator {
  color: #000;
  border-color: rgba(0,0,0,0);
}
.mat-calendar-body-selected {
  background-color: #fc3d59;
  color: #fff;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #fc3d59;
}


