<button (click)="eliminarVenta()">Eliminar</button>

<div id="contenido-a-imprimir">
  <div>N° de Venta: {{ id_comprobante }}</div>
  <div>N° de identificacion: {{ n_identificacion }}</div>
  <div>Receta:</div>
  <div>Fecha de venta: {{ fecha_venta }}</div>
  <div>atentido por: {{ profesional }}</div>

  <div>Precio total: {{ totalVenta }}</div>
</div>
<ul>
  <li *ngFor="let producto of productos">nombre: {{ producto.nombre }} | Cantidad: {{ producto.cantidad }} | Precio venta: {{ producto.precio_venta }}
    <button class="btn ver-o-editar eliminar" (click)="eliminarProduto(producto)"><mat-icon class="icon-display">delete_forever</mat-icon></button>
  </li>
</ul>

<button (click)="agregarProducto()">Agregar Producto</button>

<button (click)="imprimir()">Imprimir</button>

<button>Finalizar venta</button>


