<div id="printData">
  <div class="pink-banner container">
    <h1>Resumen de Venta ({{estado_venta}})</h1>
    <span class="spacer"></span>
    <div *ngIf="estado_venta === 'EN PROGRESO'">
      <button class="f-acenter-jarround delete"
        (click)="eliminarVenta()"><span>Eliminar</span><mat-icon>chevron_right</mat-icon></button>
    </div>
    <div *ngIf="estado_venta === 'CANCELADA'">
      <button class="f-acenter-jarround delete" [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
        [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" (click)="restaurarVenta()"><span>Restaurar
          Venta</span><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
  <div class="container contenedor-wrap flex mg-top-15">
    <div class="d-100 intern-card">
      <div class="pink-text-content w-700 fs-20"><span class="text-b">N° de Venta:</span> {{ id_comprobante }}
      </div>
      <div class="flex f-col fs-16 w-100 text-grey"><span class="pink-text-content w-800 fs-12">N° de
          identificacion:</span> {{
        n_identificacion }}
      </div>
      <!-- <div class="flex f-col fs-16 w-100 text-grey"><span class="pink-text-content w-800 fs-12">Receta:</span></div> -->
      <br>
      <div *ngIf="recetas && recetas.length > 0">
        <h3>Recetas adjuntadas:</h3>
        <ul>
          <li *ngFor="let receta of recetas">
            <a [href]="receta.receta" target="_blank">Receta N° {{ receta.id }}</a>
          </li>
        </ul>
        <a *ngIf="estado_venta === 'EN PROGRESO'" (click)="add_receta()"
          style="color: #0000EE; cursor: pointer;">Agregar receta</a>
        <a *ngIf="estado_venta !== 'EN PROGRESO'" [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
          [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" style="color: #0000EE;" (click)="add_receta()">Agregar receta</a>
      </div>
      <div *ngIf="!recetas || recetas.length === 0">
        <p>No se adjuntaron documentos.</p>
        <a *ngIf="estado_venta === 'EN PROGRESO'" (click)="add_receta()"
          style="color: #0000EE; cursor: pointer;">Agregar receta</a>
        <a *ngIf="estado_venta !== 'EN PROGRESO'" [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
          [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" style="color: #0000EE;" (click)="add_receta()">Agregar receta</a>
      </div>

    </div>
    <div class="d-100 intern-card">
      <div class="pink-text-content w-700 fs-20"><span class="text-b">Precio total:</span> $ {{ totalVenta }}</div>
      <div class="flex f-col fs-16 w-100 text-grey"><span class="pink-text-content w-800 fs-12">Fecha de venta:</span>
        {{ fecha_venta }}</div>
      <div class="flex f-col fs-16 w-100 text-grey"><span class="pink-text-content w-800 fs-12">atentido por:</span>
        {{ profesional }}</div>
    </div>
  </div>
  <div class="container mg-top-15">
    <h2 class="fs-30">Ventas</h2>
  </div>

  <div class="container contenedor-wrap">
    <div>
      <table mat-table [dataSource]="productos" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Producto </th>
          <td mat-cell *matCellDef="let producto"> {{ producto.nombre }} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let producto"> {{ producto.cantidad }} </td>
        </ng-container>

        <ng-container matColumnDef="precio_venta">
          <th mat-header-cell *matHeaderCellDef> Precio venta </th>
          <td mat-cell *matCellDef="let producto"> $ {{ producto.precio_venta }} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let producto"> <span>
              <button *ngIf="estado_venta ==='EN PROGRESO'" (click)="editarProducto(producto)"
                class="f-acenter-jarround square-pink-button"><span>editar</span><mat-icon>edit</mat-icon></button>
              <button *ngIf="estado_venta !=='EN PROGRESO'"
                [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
                [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" (click)="editarProducto(producto)"
                class="f-acenter-jarround square-pink-button"><span>editar</span><mat-icon>edit</mat-icon></button>
            </span> </td>
        </ng-container>

        <ng-container matColumnDef='button'>
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let producto">
            <mat-icon *ngIf="estado_venta === 'EN PROGRESO'" class="icon-display"
              (click)="eliminarProducto(producto)">delete_forever</mat-icon>
            <mat-icon *ngIf="estado_venta !== 'EN PROGRESO'"
              [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
              [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" class="icon-display"
              (click)="eliminarProducto(producto)">delete_forever</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
  <div class="mg-top-15">
    <div class="mg-top-15 container">
      <button class="f-acenter-jarround rounded-pink-button" *ngIf="estado_venta === 'EN PROGRESO'"
        (click)="agregarProducto()"><span>Agregar Producto</span><mat-icon>add_shopping_cart</mat-icon></button>
      <button class="f-acenter-jarround rounded-pink-button" *ngIf="estado_venta !== 'EN PROGRESO'"
        [style.pointer-events]="permiso_farmaceuta ? 'auto' : 'none'"
        [style.cursor]="permiso_farmaceuta ? 'pointer' : 'default'" (click)="agregarProducto()"><span>Agregar
          Producto</span><mat-icon>add_shopping_cart</mat-icon></button>
    </div>
    <div class="mg-top-15 container">
      <div class="flex f-ajcenter fs-20">Usted está por confirmar esta venta</div>
      <div class="flex f-ajcenter">
        <button class="f-acenter-jarround rounded-pink-button" [disabled]="estado_venta === 'CANCELADA'"
          (click)="imprimir()"><span>Imprimir
            Pagina</span><mat-icon>print</mat-icon></button>
        <button *ngIf="estado_venta === 'EN PROGRESO'" class="f-acenter-jarround rounded-pink-button"
          (click)="finVenta()"><span>Finalizar Venta</span><mat-icon>error</mat-icon></button>
        <div *ngIf="estado_venta === 'FINALIZADA' || estado_venta === 'CANCELADA'">
          <button class="f-acenter-jarround rounded-pink-button"
            (click)="irAListaVentas()"><mat-icon>chevron_right</mat-icon><span>Ir a lista
              Ventas</span></button>
        </div>
      </div>

    </div>
  </div>
</div>