<div class="container contenedor-wrap">
  <b><h1>Verificación Identidad</h1></b>
  <b><h3>Usuaria(o)</h3></b>
  <form>
    <div>
      <label>Tipo de identificación: </label>
      <mat-radio-group>
        <div>
          <mat-radio-button value="Rut">Rut</mat-radio-button>
        </div>
        <div>
          <mat-radio-button value="Pasaporte">Pasaporte</mat-radio-button>
        </div>
        <div>
          <mat-radio-button value="Otro">Otro</mat-radio-button>
        </div>
      </mat-radio-group>
      <label>Numero de identificación: </label>
      <br>

      <input matInput placeholder="12.345.678-9">


    </div>
    </form>
      <br>
      <br>

      <input class='btn ver-o-editar' type='submit' value='Siguiente'>
</div>
      <hr>

<div class="container contenedor-wrap">
  <div class="botones">
    <a routerLink="/farmacia/venta">saltar ...</a>
  </div>
</div>




