.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: #212121;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, .54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, .54);
  --mdc-radio-selected-focus-icon-color: #fc3d59;
  --mdc-radio-selected-hover-icon-color: #fc3d59;
  --mdc-radio-selected-icon-color: #fc3d59;
  --mdc-radio-selected-pressed-icon-color: #fc3d59;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #fc3d59;
}


.mat-mdc-radio-button .mdc-form-field {
  color: #000000;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
  font-size: 15px !important;
}

.mat-mdc-card {
  position: relative;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
  background-color: #FFF;
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color, transparent);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: black;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: #fc3d59;
  --mdc-protected-button-label-text-color: #fff;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

.saltar {
  text-align: center;
}

h1 {
  font-family: 'Mulish', sans-serif !important;
  font-weight: 900 !important;
  font-size: 40px !important;
}

h3 {
  padding-top: 30px;
  font-family: 'Mulish', sans-serif !important;
  font-weight: 900 !important;
  font-size: 28px !important;
}

.white-text {
  color: white !important;
}
sub.error{
  color:#fc3d59;
  position: absolute;
  left: -10px;
  bottom: -10px;
}