<div class="container contenedor-wrap text-container">
  <mat-tab-group>

<mat-tab label="Conoce tu UV">
  <div>
    <h1 style="text-align: center;">Conoce tu Unidad Vecinal ! </h1>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div id="map-barrial"></div>
        <!-- mapa -->
      </div>
      <div class="col">
        <h2>Resumen sobre jhgjhgjgj <a class="texto-click" (click)="dialogUV()">{{unidad_vecinal}}</a></h2>
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Poblacion
              </mat-panel-title>
              <mat-panel-description>
                Informacion sobre la poblacion de la unidad vecinal (SECPLA 2023)
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Poblacion total: {{data_poblacion_uv.Total}}
              <br> Poblacion Hombres: {{data_poblacion_uv.Hombres}}
              <br> Poblacion Mujeres: {{data_poblacion_uv.Mujeres}}
              <br> Superficie total m2: {{data_poblacion_uv['Superficie total m2']}}
              <br> Superficie habitada: {{data_poblacion_uv['Superficie m2']}}
              <br> Densidad Habitantes/Km2: {{data_poblacion_uv['Densidad Habitantes/Km2']}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Seguridad
              </mat-panel-title>
              <mat-panel-description>
                Informacion sobre las denuncias realizadas durante los ultimos años
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Farmacia
              </mat-panel-title>
              <mat-panel-description>
                Informacion sobre las ventas de Farmacia de la farmacia popular
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Atencion Social
              </mat-panel-title>
              <mat-panel-description>
                Informacion sobre la atencion social brindada a la comunidad
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Transito
              </mat-panel-title>
              <mat-panel-description>
                Informacion sobre licencias de conducir y patentes comerciales
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>En tu Unidad Vecinal se han entregado <span class="highlight">{{data_transito_uv.licencia_conducir}}</span> Licencias de conducir. Es la unidad vecinal <span class="highlight">{{'N°' + data_transito_uv.rank_licencia_conducir}}</span> con más licencias entregadas
              <br> Tu Unidad Vecinal es la <span class="highlight">{{'N°' + data_transito_uv.rank_permiso_circulacion}}</span> con mayor cantidad de permisos de circulación, con un total de <span class="highlight">{{data_transito_uv.permiso_circulacion}}</span> permisos entregados
              <br> *última medición del {{data_transito_uv.created}}</p>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>

  </div>

</mat-tab>

  <mat-tab label="Transparencia">
    datitos
  </mat-tab>

  <mat-tab label="Gestion Social Local"> S</mat-tab>

  </mat-tab-group>
  </div>
