@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

#map-barrial {
  height: 500px;
  width: 500px;
  /* border: 2px solid black; */
}

.mat-expansion-panel {
  background: #FC3D59;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}

.mdc-tab {
  color: black;
  background-color:  #FC3D59;
  }

.highlight {
  font-weight: bold;
}
#chartdiv {
  width: 100%;
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
}

.rank{
  max-width: 50px;
  width: 26px;
  background-color: #1587cf;
}
p{
  color: #4a4a4a;
}
.grey-bubble {
  /*width: 33vw; */
  /* max-width: 600px; */
  /* min-width: 338px; */
  color: black;
  background-color: rgb(225, 225, 225);
  padding: 30px;
  border-radius: 50px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pink-bubble {
  color: #fff;
  background-color: #FC3D59;
  padding: 30px;
  border-radius: 50px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pink-bubble p{
  color: #fff;
}
.doted-line{
  /* max-width: 557px; */
  border-top: 2px dashed black;
  /* width: 100%; */
  height: 2px;
  width: 300px;
}
h6.information-section{
  font-family: 'Mulish',sans-serif;
  font-size: 20px;
  text-align: right;
  max-width: 300px;
  padding-right: 20px;
  margin-left: auto;
}
h6.information-section.right{
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
}
.subrayado{
  /* width: 100%; */
  border-top: 2px solid black;
  width: 202px;
  margin-left: auto;
}
.subrayado.right{
  margin-left: 0;
  margin-right: auto;
}
.w-300{
  width: 300px;
}
.img-fb{
  width: 100%;
}
.logo{
  width: 300px;
  height: 150px;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pink-information{
  background-color: #FC3D59;
  padding: 20px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
}
.fb-title{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}
.pink-text{
  color: #FC3D59!important;
}
.w-200{
	width: 200px;
}
.mt-20{
  margin-top: 20px;
}
.sm-hidden{
  display: block;
}
.sm-visible{
  display: none;
}
@media screen and (max-width: 1161px) {
  .doted-line{
    display: none;
  }
  .content-quarter{
    flex-direction: column-reverse !important;
    width: 100%;
  }
  .content-quarter:nth-of-type(2n+1){
    flex-direction: column!important;
  }
  .title-line{
    width: 100%;
  }
  .title-line .subrayado{
    border-top: none;
  }
  .information-section{
    width: 100%;
    max-width: 100%!important;
    text-align: center!important;
  }
}

@media screen and (max-width: 750px) {
  .min-w-500{
    min-width: 100%;
  }
  .grey-bubble, .pink-bubble{
    width: 100%;
  }
  .cdk-overlay-pane{
    height: 100vh;
    max-width: 100%!important;
  }
  .modal-center .mat-mdc-dialog-content {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .sm-hidden{
    display: none;
  }
  .sm-visible{
    display: initial;
  }
  .container.sm-container{
    padding: 0!important;
  }
  .sm-content{
    padding-left: 10px;
    padding-right: 10px;
  }
}






