<div class="modal-center min-w-500 warning-modal">
  <mat-icon> place</mat-icon>
  <h1>¿Cual es tu unidad vecinal?</h1>
<div mat-dialog-content class="producto-form-row modal-center w-100">
  <p>Elige una opcion:</p>
  <mat-radio-group [(ngModel)]="selectedOption" class="flex-column">
    <mat-radio-button value="direccion">Ingresar dirección</mat-radio-button>
    <mat-radio-button value="unidad-vecinal">Ingresar unidad vecinal</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="selectedOption === 'unidad-vecinal'" class="flex-column p-top-40">
    <mat-form-field>
      <mat-label>Unidad vecinal:</mat-label>
      <mat-select [(ngModel)]="selectedUV">
        <mat-option *ngFor="let uv of uvOptions" [value]="uv">{{uv}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedOption === 'direccion'" class="flex-column p-top-40">
    <mat-form-field>
      <mat-label>Calle</mat-label>
        <input autofocus formControlName="calle" matInput placeholder="Av. Independencia" [matAutocomplete]="auto" required>
        <mat-autocomplete #uvSelect  #auto="matAutocomplete">
          <mat-option *ngFor="let item of filterdOptions" [value]="item">
            {{item}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Numeracion</mat-label>
      <input matInput placeholder="0" formControlName="numero" type="number"/>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button class="pink-rounded-button" mat-button mat-dialog-close cdkFocusInitial (click)="onNoClick()">Ok</button>
</div>
</div>
