.container {
  max-width: 1140px;
  margin: auto;
}

tr td {
  background-color: #F0F0F0 !important;
  color: #4a4a4a !important;
}

tr:nth-child(odd) td {
  background-color: #FFF !important;
  color: #4a4a4a !important;
}

.square-pink-button {
  background-color: rgb(249, 34, 72);
  width: auto;
  color: #FFF;
  border: none;
  padding: 5px;
  font-size: 14px;
}

table tr:nth-child(1) td {
  background-color: #ffffff !important;
  color: #000000 !important;
}

input::placeholder {
  color: rgb(132, 132, 132) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #b1b1b1;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.87);
}

.f-acenter-jarround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pink-banner {
  background-color: rgb(249, 34, 72) !important;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.pink-banner {
  background-color: rgb(249, 34, 72) !important;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.pink-banner h1 {
  color: #fff !important;
  font-size: 35px !important;
  font-weight: 900 !important;
}

.delete {
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  color: rgb(249, 34, 72);
  border: 1px solid rgb(249, 34, 72);
  padding: 10px;
  width: 100%;
  transition: all .9s ease-in-out;
}

.delete span {
  width: 0;
  overflow: hidden;
  transition: width .3s ease-in-out;
  white-space: nowrap;
}

.delete:hover {
  cursor: pointer;
  border-radius: 25px;
  background-color: #FFF;
  transition: all .1s ease-in-out;
}

.delete:hover span {
  width: 140px;
  transition: width .3s ease-in-out;
}

.f-acenter-jarround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.f-ajcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-family: 'Mulish', sans-serif;
}

.text-b {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.pink-text-content {
  color: rgb(249, 34, 72)
}

.rounded-pink-button {
  cursor: pointer;
  background-color: rgb(249, 34, 72);
  width: 200px;
  border-radius: 25px;
  color: #FFF;
  border: none;
  padding: 10px;
  margin: 10px 8px;
}



/* .mat-mdc-text-field-wrapper {
  background-color: #f5f5f5;

} */

/* .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 16px;
 background-color:  #f5f5f5;
}

.mat-mdc-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  background-color:  #f5f5f5;
} */