<div class="container contenedor-wrap">
  <div class="botonera" style="background-color: white">
    <h1>Productos/Stock</h1>
    <div class="botones">
      <!-- <a href="{% url 'comprobanteventa-inicio' %}">Venta</a> -->
      <a routerLink="/stock/crear" style="width: 223.26px;">Nuevo Producto</a>
    <div>
      <a routerLink="/stock/ingreso" style="width: 223.26px;">Ficha de Ingreso</a>
    <div>
      <a routerLink="/stock/salida" style="width: 223.26px;">Ficha de Salida</a>
    <div>
      <a style="width: 223.26px;">Carga masiva</a>
    </div>
  </div>
</div>
