<div class="container contenedor-wrap">
  <div class="botonera" style="background-color: white">
    <h1>Productos/Stock</h1>
    <div class="botones">
      <!-- <a href="{% url 'comprobanteventa-inicio' %}">Venta</a> -->

      <a mat-flat-button routerLink="/stock/crear-producto">Nuevo Producto</a>
      <a mat-flat-button routerLink="/stock/ingreso">Ficha de Ingreso</a>
      <a mat-flat-button routerLink="/stock/salida">Ficha de Salida</a>
      <a mat-flat-button>Carga masiva</a>
    </div>
  </div>
</div>