form {
    width: 35vw !important;
    height: 35vh !important;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close-row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
}

.close-button,
.close-button:focus-visible {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    offset: none !important;
    outline: none !important;
}

.modal-head {
    color: white !important;
    font-size: 1.5em !important;
    font-weight: 900 !important;
    font-family: 'Mulush', sans-serif !important;
}


.rounded-pink-button {
    background-color: rgb(249, 34, 72) !important;
    width: 215px;
    border-radius: 25px;
    color: #FFF !important;
    border: none;
    padding: 10px;
    margin: 10px 8px;
}

.add-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.product {
    margin: auto;
    display: flex;
    flex-direction: column;
}