
<form [formGroup]="formProductos">

  <ng-container formArrayName="producto">
    <ng-container *ngFor="let productoForm of productos.controls; let i = index" [formGroupName]="i">
      <div class="producto-form-row">
        <mat-form-field class="info">
          <mat-label>Nombre del producto </mat-label>
            <mat-select (selectionChange)="seleccionarProducto($event, i)">
              <mat-option *ngFor="let producto of filteredOptions" [value]="producto">
                {{ producto.marca_producto }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field >
          <mat-label>Cantidad</mat-label>
          <input type="number" formControlName="cantidad" matInput placeholder="0">
          <span matTextSuffix>unidades</span>
        </mat-form-field>


      </div>

    </ng-container>
  </ng-container>


</form>

<button (click)="agregarProducto()"> Add</button>
