<div class="container contenedor-wrap">
  <div class="botonera" style="background-color: white">
    <h1>Informes Farmacia</h1>
    <div class="botones">
      <a routerLink="/farmacia/informe-productos" style="width: 261.24px;">Informe de Productos</a>
      <div>
        <a routerLink="/farmacia/informe-stock" style="width: 261.24px;">Informe de Stock</a>
        <div>
          <a style="width: 261.24px;">Informe de Ventas</a>
          <div>
            <a routerLink="/farmacia/resumen-persona" style="width: 261.24px;">Lista Personas</a>
          </div>
          <div>
            <a routerLink="/farmacia/lista-venta" style="width: 261.24px;">Lista Ventas</a>
          </div>
        </div>
      </div>